.section-2 {
    background:#eeeeee;

    border-radius: 20px;
}
.button-style{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #0386D0
    
}

body{
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 768px) {
    .secure {
        display: none;
    }
  }