.form-col{

    background:#eeeeee;
    height: 750px;

    border-radius: 20px;
}


.progress{
    margin-top: 5px;
}

#exampleInputEmail1{
    border-radius: 5px;
}

#exampleInputPassword1{
    border-radius: 5px;
}

.img{
    height: 750px;
    width: 600px;
   
}

.redius{
border-radius: 20px;
}
.img-secure{
    margin-top: 12px;
    height: 750px;

}

.section-2 {
    background:#eeeeee;

    border-radius: 20px;
    margin-bottom: 100px;
    height: 750px;
}
.button-style{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #0386D0
    
}

body{
    font-family: 'Montserrat', sans-serif;
}





@media  (max-width:2000px) and (min-width:1441px) {
    .img-resposive {
        width: 200px; 
        margin-left: 540px;
   }
 }

@media  (max-width:1440px) and (min-width:1280px) {
    .img-resposive {
        width: 200px; 
        margin-left: 540px;
   }
 }


@media  (max-width:1279px) and (min-width:1024px) {
    .img-resposive {
        width: 202px;
        margin-left: 350px;
   }
 }

 
 @media    (max-width:1023px) and  (min-width:768px) {
    .img-resposive{
        width: 120px;
        margin-left: 250px;

    
    }
  }


  @media  (max-width:767px) and (min-width:0px)  {
    .img-resposive{
        width: 120px;
        margin-left: 116px;

    
    }
  }





@media   (max-width: 770px) and (min-width:0px) {
    .secure {
        display: none;
    }
  }

  @media   (max-width: 426px) and (min-width:376px) {
    .form-col {
     margin-left: 13px;
    width: 350px;
    height: 650;
    margin-left: 38px;
    }
  }

  @media   (max-width: 376px) and (min-width:0px) {
    .form-col {
     margin-left: 13px;
    width: 350px;
    height: 650;
    }
  }


  @media   (max-width: 426px) and (min-width:376px) {
    .section-2 {
    margin-bottom: 50px;
    padding: 20px;
    width: 350px;
    margin-left: 40px;
    height: 850px;
    }
  }

  @media   (max-width: 376px) and (min-width:0px) {
    .section-2 {
    margin-bottom: 50px;
    padding: 20px;
    width: 350px;
 margin-left: 16px;
    height: 850px;
    }
  }


 






 